
html {
    box-sizing: border-box;
    display: grid;
    align-items: center;

  }
  
  *
  *::before, *::after { 
    box-sizing: inherit;
  }
  :root {
    font-size: 62.5%;
  }





body {

    display: grid;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    padding: 100px;

}

section {
 display: inline-block;
 justify-content: space-between;
 padding: 60px;
 font-size: 40px;

}

div {
    padding: 20px;
font-size: 30px;

}
p {
    font-size: 30px;
}
input {
display: inline-block;
padding:5px;
width: 50px;
height: 50px;
font-size: 30px;

    
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
font-size: 40px;
padding: 50px;
}